/* 1/2 */
.block { padding: 10px; border: 1px solid #333; color: #fff; text-align:center; }
.header { background: #4a90e2; }
.nav { background: #7b8a8b; float:left; width: 20%; }
.main { background: #50e3c2; margin-left: 22%; }
.aside { background: #f5a623; float:right; width: 20%; }
.footer { background: #9013fe; clear: both; }

/* 3*/
nav ul { list-style: none; display: flex; gap: 20px; background: #333; padding: 10px; }
nav ul li a { color: white; text-decoration: none; font-weight: bold; }
nav ul li a:hover { text-decoration: underline; }

section { border: 1px solid #dbd3d3; padding: 15px; margin-top: 20px; border-radius: 10px; background: #e9dbec; }
section h2 { color: #000000; }
article img { float: left; margin-right: 15px; border-radius: 10px;  border: 1px solid rgba(224, 217, 217, 0.897);}
footer { text-align: center; margin-top: 40px; padding: 10px; background: #dad6d6; color: rgb(49, 49, 49); }

/* 5 */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.content {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}

/* Biografía */
.biografia {
  flex: 2;
  max-width: 650px;
}

/* Cajita de información */
.info {
  flex: 1;
  max-width: 300px;
  background-color: #fef8dc;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.info img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.info table {
  width: 100%;
  border-collapse: collapse;
}

.info th {
  text-align: left;
  background-color: #f0e68c;
  padding: 5px;
}

.info td {
  padding: 5px;
}

